name: Build (Linux)

on:
  pull_request:
    branches:
      - main
      - 1.4.x
permissions: read-all
jobs:
  build:
    runs-on: ubuntu-latest

    services:
      rabbitmq:
        image: rabbitmq:3.8
        ports:
          - 5672:5672

    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # renovate: tag=v2
        with:
          distribution: 'temurin'
          java-version: 1.8

      - name: Test
        run: ./gradlew check -i -s -Drabbitmqctl.bin=DOCKER:${{job.services.rabbitmq.id}}